{
    "printWidth": 120,
    "tabWidth": 2,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "singleQuote": true,
    "bracketSpacing": false,
    "bracketSameLine": true,
    "singleAttributePerLine": false
}
