includes:

parameters:
    level: 2
    ignoreErrors:

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: 'file:///%%file%%:%%line%%'

    paths:
        - config
        - database
        - routes
        - src
    tmpDir: dev/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
