// Typography
$font-family-sans-serif: "Assistant", sans-serif;
$font-size-base: 1rem;
$font-weight-base: 300;
$line-height-base: 1;

$blue: #4285F4;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #da46ae;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #000;

$primary: $blue;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

//$input-border-color: transparent;

$breadcrumb-divider: '>';
